.container{
 width: 600px;
 height: 300px;
 display: flex;
 flex-wrap: wrap;
 border: 2px solid black;
 justify-content: center;
 align-items: center;
}
.employeeDetails{
 margin: 8px 30px;
 border: 2px solid rgba(241, 241, 241, 0.763);
 height: 250px;
 width: 220px;
}
.employeeImage img{
 height: 200px;
 width: 220px;
}